.generator {
    text-align: center;
}

.field {
    transform: rotate(-12deg);

    font-family: 'Caveat', cursive;
    font-weight: 800;
}

.button {
    display: inline-block;

    width: 140px;
    margin-top: 70px;

    cursor: pointer;

    font-size: 17px;
}

.button__img {
    display: inline-block;

    width: 65px;
}

.button__text {
    margin-top: 20px;

    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

