.generator {
    text-align: center;
}

.field {
    transform: rotate(-12deg);

    font-family: 'Caveat', cursive;
    font-weight: 800;
}

.button {
    position: relative;

    display: inline-block;

    width: 140px;
    margin-top: 70px;

    cursor: pointer;

    font-size: 17px;
}

.button__img__string {
    position: absolute;
    /* right: 0;
    left: 0;
    bottom: 100%;

    width: 2px;
    height: 340px;
    margin: 0 auto;

    background: #be3c63; */
}

.button__img {
    display: inline-block;

    width: 65px;
}

.button__text {
    margin-top: 20px;

    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

