.generator {
    height: 850px;

    text-align: center;
}

.field {
    padding: 235px 180px 0;
    margin-left: -85px;

    transform: rotate(-12deg);

    font-family: 'Caveat', cursive;
    font-size: 70px;
    font-weight: 800;
}

.button {
    display: inline-block;

    width: 140px;
    margin-top: 70px;

    font-size: 17px;
}

.button__img {
    display: inline-block;

    width: 65px;
}

.button__text {
    margin-top: 20px;

    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}