.form {
    position: relative;

    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 28px;
}

.form:after {
    display: block;
    clear: both;

    content: '';
}

.description {
    float: left;

    width: calc(50% - 25px);
}

.interaction {
    float: right;

    width: calc(50% - 25px);
}

.description__title {
    color: #fff;

    font-size: 30px;

    cursor: pointer;
}

.description__text {
    padding-top: 10px;
}

.description__part {
    margin-top: 40px;
}

.interaction {
    margin-top: 90px;
}

.input__field {
    display: block;

    width: 100%;
    padding-left: 20px;

    box-sizing: border-box;

    color: #fff;

    resize: none;

    background-color: #2335ab;
    border: 1px solid #f0a4c8;

    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 28px;
}

.input__field:active, .input__field:hover, .input__field:focus {
    outline: 0;
    outline-offset: 0;
}

.input__field_congratulation {
    height: 150px;
    padding-top: 15px;

    border-bottom: 0;
    border-radius: 10px 10px 0 0;

    line-height: 25px;
}

.input__field_author {
    height: 55px;

    border-radius: 0 0 10px 10px;

    line-height: 48px;
}

.interaction__button {
    padding-top: 15px;
    padding-left: 20px;

    color: #f0a4c8;

    cursor: pointer;
}

.interaction__button__img {
    position: relative;
    top: 10px;

    width: 27px;
    padding-left: 10px;
}

@media (max-width: 660px) {
    .description {
        width: 100%;
    }

    .interaction {
        width: 100%;
    }

    .description__text {
        text-align: justify;
    }
}
