html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    white-space: nowrap;
}

.home {
    position: relative;

    height: 100%;
    width: 100%;
    padding-bottom: 380px;

    box-sizing: border-box;

    color: #fff;

    white-space: normal;

    background: #1F3D95;
    background: radial-gradient(farthest-side at 50% 20%, #1F3D95, #700651 210%);
}

.home__content {
    position: relative;
    z-index: 10;

    width: 850px;
    margin: 0 auto;
}

.home__generator {
    width: 660px;
    height: 615px;
    margin: 0 auto;
    padding-top: 235px;

    font-size: 70px;
}

.tree__img_left {
    position: absolute;
    top: 0;
    left: 0;

    width: 338px;
}

.tree__img_right {
    position: absolute;
    top: 0;
    right: 0;

    width: 338px;

    transform: scale(-1, 1);
}

.tree__img_main {
    position: absolute;
    top: 0;
    left: 14px;
    right: 0;

    width: 236px;
    margin: auto;
}

.garland__img_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    margin: 0 auto;
}

.garland__img_bottom {
    position: absolute;
    top: 0;

    width: 100%;
}

.tree__img_bottom {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;

    width: 259px;
    margin: auto;
}


@media (max-width: 980px) {
    .home {
        padding-left: 40px;
        padding-right: 40px;
    }

    .home__content {
        width: 100%;
    }

    .tree__img_right {
        right: auto;
        left: 642px;
    }

    .tree__img_left {
        left: auto;
        right: 642px;
    }
}

@media (max-width: 660px) {
    .home {
        padding-left: 20px;
        padding-right: 20px;
    }

    .home__generator {
        width: 100%;
        height: 550px;

        font-size: 46px;
    }
}

@media (max-width: 400px) {
    .home__generator {
        font-size: 36px;
    }
}

