html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.home {
    height: 100%;
    width: 100%;
    padding-bottom: 60px;

    color: #fff;

    background: #1F3D95;
    background: radial-gradient(farthest-side at 50% 20%, #1F3D95, #700651 230%);
}

.content {
    width: 850px;
    min-width: 320px;
    margin: 0 auto;
}